body{
    margin:0;
}
header{
  display: flex; 
  height:70px;
  background-color: #f8d8dd;
  justify-content:space-between;
  align-self: center;
}

.logo img{
    height:80px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
.muneca img {
    
    position:muneca img;
    top:200px;
    left:500px;
    width:800px;
    height:400px;
    right:500;
}
.barbie{
    
}
